<nav style="height: 450vh;" class="p-3 bg-body-tertiary">
  <a class="align-items-center link-light text-decoration-none" routerLink="home" routerLinkActive="active">
    <span class="fs-4 badge text-bg-light">DSML</span>
    <span class="fs-4"> Learning Units</span>
  </a>
  <hr>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link link-light" routerLink="unit1" routerLinkActive="active">
        Einführung in Domain-Specific Modeling Languages (DSMLs)
      </a>
    </li>
    <li>
      <a class="nav-link link-light" routerLink="unit2" routerLinkActive="active">
        Das Konzept der Metamodellierung
      </a>
    </li>
    <li>
      <a class="nav-link link-light" routerLink="unit3" routerLinkActive="active">
        Der Entwicklungsprozess einer DSML
      </a>
    </li>
    <li>
      <a class="nav-link link-light" routerLink="unit4" routerLinkActive="active">
        Spezifikation der Sprachkonzepte und Semantik
      </a>
    </li>
    <li>
      <a class="nav-link link-light" routerLink="unit5" routerLinkActive="active">
        Design der grafischen Notation (Konkrete Syntax)
      </a>
    </li>
    <li>
      <a class="nav-link link-light" routerLink="unit6" routerLinkActive="active">
        Bonus Lerneinheit
      </a>
    </li>
  </ul>
</nav>