<div class="container p-5">
    <h2>Herzlich Willkommen</h2><br/>
    <p>
        Diese Lerneinheiten sollen Ihnen helfen, ein besseres Verständnis für Domain-Specific Modeling Languages (DSMLs) und Metamodellierung zu entwickeln.
        In jeder Lerneinheit finden Sie konkrete Lernziele, theoretische Grundlagen und eine Aufgabe um Ihr Wissen zu überprüfen.
    </p>
    <p>
        Ziel der Lerneinheiten ist, es dass Sie:
    </p>
        <ul>
            <li>die Grundlagen von DSMLs verstehen,</li>
            <li>die Prinzipien der Metamodellierung kennenlernen,</li>
            <li>praktische Erfahrungen im Umgang mit Modellierungswerkzeugen sammeln,</li>
            <li>und Ihr Wissen anhand von Aufgaben anwenden können.</li>
        </ul>
    <p>Wir wünschen Ihnen viel Erfolg beim Lernen!</p><br/>
    <a routerLink="/unit1"><button class="btn btn-primary">Jetzt starten</button></a>
</div>